{:deps
 {org.clojure/clojure                           {:mvn/version "1.12.0-beta1"}
  org.clojure/core.async                        {:mvn/version "1.6.681"}
  org.clojure/data.xml                          {:mvn/version "0.2.0-alpha9"}
  org.clojure/data.zip                          {:mvn/version "1.1.0"}
  net.java.dev.jna/jna                          {:mvn/version "5.14.0"}
  net.java.dev.jna/jna-platform                 {:mvn/version "5.14.0"}
  com.kohlschutter.junixsocket/junixsocket-core {:mvn/version "2.10.0" :extension "pom"}}
 :aliases
 {:demo {:exec-fn demo/start!}}}
